* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background: #010615;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 1.5rem;
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li .activity-actions {
  display: flex;
  gap: 1rem;
}